*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    font-size: 62.5%;

    --white:#ededed;
    --azul:#00a0ce;
    --verdeFooter: #49997d;
    --verdeTransparent:#1ba588a6;
    scroll-behavior: smooth;
}
/* ========= fontes =======*/

body{
    font-size: 1.6rem;
    background: var(--white);
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}
.logo-marca{
    font-weight: 700;
    font-size: 2rem;
}
.apresentacao .tituloPrincipal{
    font-size: 4rem;
    font-weight: 700;
    
}
.apresentacao p, .boasVindas p, #sobrePousada p{
    font-size: 1.8rem;
}

.tituloBoasVindas, .tituloMapa, #sobrePousada h2{
    letter-spacing: 2px;
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.descricaoQuarto, .descricaoMapa {
    font-size: 2rem;
}

#footer h4{
    font-size: 2.2rem;
}
/* =========== Cabeçalho ============= */

.header{
    position: fixed;
    padding: 0 8rem;
    width: 100%;
    height: 7rem;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .4rem solid var(--verdeTransparent);
}

.navegacao{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
 .navegacao li a{
     color: #000;
 }
/* =================== alinhamento de itens ===============*/

.container-principal, 
.apresentacao, 
.boasVindas, 
.container-quartos, 
.cardQuartos, #mapa,
#Sobre, #sobrePousada,
.card {
    display: flex;
    align-items: center;
}

/* ========= pagina inicial principal ============ */

.container-principal{
    width: 100%;
    height: 90vh;
    background-image: url('./assets/img-fundo.jpg');
    justify-content: center;
    
}

.apresentacao{
    background: var(--verdeTransparent);
    height: 20rem;
    padding:0 2rem;
    border-radius: .5rem;
    border: 1px solid var(--white);
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: .1rem;
    color: var(--white);
}

.letra-azul-logoMarca{
    color:var(--azul);
}
/* =======================seção quartos==================== */
.boasVindas{
    width: auto;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: space-evenly;
    height: 17.6rem;
}

.container-quartos{
    margin-top: 4rem;
    height: 32rem;
    width: 100%;
    justify-content: center;
}

.cardQuartos{
    height: 100%;
    width: 40rem;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 4px solid var(--verdeTransparent);

}
.cardQuartosMeio{
    margin: 0 2rem;
}
.cardQuartos img{
    width: 100%;
    height: 80%;
    border: 2px solid #8f8f8f8c;
    border-radius: 5px;
}

.descricaoQuarto{
    padding: 2rem 0;
    transition: all .5ms ease-in-out;
}
.descricaoQuarto:hover{
    transform: scale(1.02,1.02);
}
/* =========secao mapa=========== */
#mapa{
    width: 100%;
    margin: 0 auto;
    padding: 5rem;
    height: 63rem;
    flex-direction: column;
    justify-content: space-around;
}

/* ======== Seção sobre a pousada ========== */
#Sobre{
    flex-direction: column;
    margin-bottom: 10rem;
}
#sobrePousada{
    width: 10 0%;
    height: 16rem;
    flex-direction: column;
    justify-content: space-around;

}
#Servicos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow:row wrap ;
    padding: 0 2rem;
}
#Servicos .card{
    display: flex;
    justify-content: space-between;
    width: 48%;
    padding: 2rem;
}
.card .descricaoItem{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card img{
    width: 10rem;
    height: 10rem;
}

/* ========== rodape =========== */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--verdeFooter);
    height: 15rem;
    padding: 2rem;
    color: var(--white);
}
#footer{
    width: 102.4rem;
    display: flex;
    justify-content: space-between;
}
#footer .item{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
#footer .item img{
    margin-right: 1rem;
}
#DireitosReservados{
    width: 90%;
    text-align: center;
    border-top: 0.2rem solid #418d71;
    padding-top: 2rem;
}
/* =======links =======*/
.navegacao a:hover{
    border-bottom: .4rem solid var(--verdeTransparent);
}

a{
    text-decoration: none;
}
a:active{
    color: transparent;
}
a:visited{
    color: transparent;
}
/* =================== */
#footer .item p a{
    color: var(--white);
}